.banner{
    width: 100%;
    margin:1rem auto 0 auto;
    background-color: #4495ff;
    background-image: url("../img/banner3.png"); 
    box-sizing: border-box;
    background-size: cover;
    background-position: center;
    
    
}

.banner__contenido{
    
    width: 65%;
    max-width: 1920px;
    margin: 0 auto;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    gap:1.25rem;
    padding:1.5rem;

}

.banner__titulo{

    padding-top: 4.5rem;;
    color:#FFFFFF;
    font-size: 3.25rem;
    font-weight: 700;
    padding-bottom: 1rem;
    
        
}

.banner__descripcion{
    
    color:#FFFFFF;
    font-weight: 700;
    font-size:1.375rem;
}

.banner__boton{

    background-color: #2A7AE4;
    cursor:pointer;
    color:#FFFFFF;
    padding: 1rem 3rem;
}

.banner__boton:hover {
    background-color: #2D435E;
    transition: 1s;
}

@media (min-width:451px) and (max-width:768px) {

    
    .banner__contenido{

        width: 90%;
        flex-flow: column nowrap;
        align-items: flex-start;
    }


}

@media (max-width: 450px) {

    .banner{
        background-position:700px ;  
    }
    
    .banner__contenido{

        width: 90%;
        flex-flow: column nowrap;
        align-items: flex-start;
    }

}