.footer{

    background-color: #EAF2FD;
    padding: 4rem 0;
    margin-top: 3.5rem;
}

.footer__contenido{
    width: 65%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    max-width: 1920px;
    gap:7rem;
}

.footer__link{

    display: flex;
    flex-direction: column;
    gap:1.5rem;
}

.footer__formulario{
    display: flex;
    gap:1.5rem;
    flex-direction: column;

}

.formulario__titulo{
    font-weight: 700;
}

.formulario__conjunto{
    display: flex;
    background-color: #FFFFFF;
    flex-direction: column;
    border: #FFFFFF solid 1px;
    
    width: 23rem;
    border-bottom: 2px solid #A2A2A2;
}


.formulario__label {
    font-size: 0.7rem;
    padding-bottom: 0.2rem;
    padding-top: 0.5rem;
    padding-left: 0.5rem;
    color: #A2A2A2
}

.formulario__nombre {
    outline: none;
    border: none;
    font-family: 'Raleway', sans-serif;
    font-size: 1.4rem;
    padding: 0.3rem;
    padding-left: 0.5rem;
    
}

.formulario__nombre:focus {
    border-color: #2A7AE4;
}


.formulario__mensaje{
   outline: none;
   border: none;
   font-family: 'Raleway', sans-serif;
   font-size: 1rem;
   text-align:justify;
   padding-left: 0.5rem;
   resize:none;
   margin-top: 1rem;
   margin-bottom: 0.2rem;;
}

#caja {
    border: 2px solid #A2A2A2;
}

#cajan:focus-within{
    border-bottom: 2px solid #2A7AE4;
}

#caja:focus-within{
    border: 2px solid #2A7AE4;
}

.formulario__boton {

    outline: none;
    border: none;
    background-color: #2A7AE4;
    padding: 1rem;
    font-family: 'Raleway',sans-serif;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 1.2rem;
    cursor: pointer;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

.formulario__boton:hover{
    background-color: #2D435E;
    transition: 1s;
}

.rodapie{
    padding: 2.5rem 0;
    text-align: center;
}

@media (min-width:451px) and (max-width:768px) {

    .footer__contenido{
        width: 90%;
        margin: 0 auto;
        display: flex;
        flex-flow: column wrap;
        justify-content: flex-start;
        align-items: flex-start;
        max-width: 1920px;
        gap:2rem;
        
    }
 

}

@media (max-width: 450px) {


    .footer__contenido{
        width: 90%;
        margin: 0 auto;
        display: flex;
        flex-flow: column wrap;
        justify-content: flex-start;
        align-items: flex-start;
        max-width: 1920px;
        gap:2rem;
        
    }
 
  
}