.footer{

    background-color: #EAF2FD;
    padding: 4rem 0;
    margin-top: 3.5rem;
}

.footer__contenido{
    width: 65%;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    max-width: 1920px;
    gap:7rem;
    
}

.footer__link{

    display: flex;
    flex-direction: column;
    gap:1.5rem;
}

.footer__formulario{

    display: flex;
    gap:2rem;
    flex-direction: column;
}

.formulario__titulo{

    font-weight: 700;

}

.formulario__conjunto{
    display: flex;
    flex-direction: column;
}



.formulario__label{
    font-weight: 300;
    font-size: 0.8rem;
    background-color: #FFFFFF;
    padding: 0.5rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.formulario__nombre{

    width: 35rem;
    font-family: Raleway, sans-serif;
    font-size: 1rem;
    outline: none;
    border: none;
    background-color: #FFFFFF;
    padding: 0.5rem;
    border-bottom: 1px solid rgb(192, 191, 191);
    
}

.formulario__nombre:focus , .formulario__mensaje:focus{

border-color: #2A7AE4;
}

.formulario__mensaje{

    width: 35rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    font-family: Raleway, sans-serif;
    font-size: 1rem;
    outline: none;
    border: none;
    background-color: #FFFFFF;
    padding: 0.5rem;
    resize:none;
    border-bottom: 1px solid rgb(192, 191, 191);
    
}
.formulario__boton{ 

    background-color: #2A7AE4;
    cursor:pointer;
    color:#FFFFFF;
    padding: 1rem 3rem;
    margin-right: auto;

}
.rodapie{
    padding: 2.5rem 0;
    text-align: center;
}

@media (min-width:451px) and (max-width:768px) {

   
}

@media (max-width: 450px) {


    .footer__contenido{
        width: 90%;
        margin: 0 auto;
        display: flex;
        flex-flow: column wrap;
        justify-content: flex-start;
        align-items: flex-start;
        max-width: 1920px;
        gap:2rem;
        
    }
 
    .formulario__nombre{
    
        width: 20rem;
        font-family: Raleway, sans-serif;
        font-size: 1rem;
        outline: none;
        border: none;
        background-color: #FFFFFF;
        padding: 0.5rem;
        border-bottom: 1px solid rgb(192, 191, 191);
        
    }
    
    .formulario__nombre:focus , .formulario__mensaje:focus{
    
    border-color: #2A7AE4;
    }
    
    .formulario__mensaje{
    
        width: 20rem;
        border-top-left-radius: 0.5rem;
        border-top-right-radius: 0.5rem;
        font-family: Raleway, sans-serif;
        font-size: 1rem;
        outline: none;
        border: none;
        background-color: #FFFFFF;
        padding: 0.5rem;
        resize:none;
        border-bottom: 1px solid rgb(192, 191, 191);
        
    }
    .formulario__boton{ 
    
        background-color: #2A7AE4;
        cursor:pointer;
        color:#FFFFFF;
        padding: 1rem 3rem;
        margin-right: auto;
    
    }
    .rodapie{
        padding: 2.5rem 0;
        text-align: center;
    }

}