.espaciado {
    margin-top: 8rem;
}

.sticky{
        background-color: #FFFFFF;
        width: 100% 
}

.sticky__header{

    width: 65%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap:1.25rem;
    max-width: 1920px;
    padding:1.5rem 0;

}


.header__logo{

    font-size: 1.5rem;
    

}

.header__logo::before {
    
    content: "Tryhard";
    color:#2A7AE4;
    font-weight: 700;
    
}

.header__logo::after {
    
    content: "Zone";
    font-weight: 700;
    
}

.header__buscador{

    width: 24rem;
    height: 2.5rem;
    outline:none;
    background-color: rgb(236, 236, 236);
    border-radius: 1rem;
    font-family: Raleway, sans-serif;
    padding-left: 1rem;
    font-size: 1rem;
    border:none;
    
}

.header__conjuntobusqueda{

    display: flex;
    align-items: center;
    background-color: rgb(236, 236, 236);
    border: solid 1px rgb(236, 236, 236);
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    padding-right: 1rem;
  

}

.headerB {
    display: flex;
    flex-flow: column wrap;
}

.busqueda {
    background-color: #FFFFFF;
    position: absolute;
    top: 75px;
    width: 26.3rem;
    border: 1px solid rgb(236, 236, 236);
    border-top: none;
}

.busqueda__aencontrada{
    
    display: block;
    margin: 1rem;
}

.busqueda__pencontrada{
    
    font-size: 1.3rem;
    padding-left: 1rem;
   
}

#errorN, #errorM{

    color:red;

}

.fa-solid{

    cursor:pointer;
    background-color: rgb(236, 236, 236);
    color:#464646;
   
}

.header__login, .header__adm{

    border: solid #2A7AE4 1px;
    text-align: center;
    color:#2A7AE4;
    margin-left:auto;
    padding: 1rem 3.5rem;
    cursor:pointer;
}

.header__logout{

    border: solid red 1px;
    text-align: center;
    color:red;
    margin-left:auto;
    padding: 1rem 3.5rem;
    cursor:pointer;
}



@media (min-width:451px) and (max-width:768px) {

    .sticky__header{

        width: 90%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1920px;
        padding:1.5rem 0;
    
    }

    .header__buscador{

        width: 17rem;
        height: 2.5rem;
        outline:none;
        background-color: rgb(236, 236, 236);
        border-radius: 1rem;
        font-family: Raleway, sans-serif;
        padding-left: 1rem;
        font-size: 1rem;
        border:none;
        
    }
    .fa-solid{

        cursor:pointer;
        font-size: 1.5rem;
        background-color: rgb(236, 236, 236);
        color:#464646;
       
    }

    .header__conjuntobusqueda{
        display: none;
    }

    .header__login{

        border: solid #2A7AE4 1px;
        text-align: center;
        color:#2A7AE4;
        margin: 0;
        padding: 1rem 3.5rem;
        cursor:pointer;
    }

   

}

@media (max-width: 450px) {

    .sticky__header{

        width: 90%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1920px;
        padding:1.5rem 0;
    
    }

    .header__buscador{

        display: none;
        width: 24rem;
        height: 2.5rem;
        outline:none;
        background-color: rgb(236, 236, 236);
        border-radius: 1rem;
        font-family: Raleway, sans-serif;
        padding-left: 1rem;
        font-size: 1rem;
        border:none;
        
    }

    .header__conjuntobusqueda{

        order: 3;
        display: flex;
        align-items: center;
        background-color: #FFFFFF;
        border: solid 1px #FFFFFF;
        border-radius: 1rem;     
      
    }

    .header__login{

        border: solid #2A7AE4 1px;
        text-align: center;
        color:#2A7AE4;
        margin: 0;
        padding: 1rem 3.5rem;
        cursor:pointer;
    }

    .fa-solid{
        font-size: 2rem; 
    }

    .header__conjuntobusqueda{
        display: none;
    }



}
