.login{

    width: 65%;
    margin: 8rem auto 1rem auto;
    display: flex;
    align-items: center;
    flex-flow: column;
    gap:1rem;;
    max-width: 1920px;
    
}

.login__titulo {

    font-size: 2.7rem;
    font-weight: 700;

}

.login__form{

    text-align: center;
    display: flex;
    flex-flow: column;
}

.form__login {

    background-color: #2A7AE4;
    cursor:pointer;
    color:#FFFFFF;
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 1.4rem;
    border:none;
    padding: 1rem 3rem;
    margin-top: 1rem;
    
}

.form__login:hover {

    background-color: #2D435E;
    transition: 1s;
}

.form__usuario , .form__password {

    width: 35rem;
    font-family: Raleway, sans-serif;
    font-size: 1rem;
    outline: none;
    border: none;
    background-color: #FFFFFF;
    padding: 0.5rem;
    margin: 1rem auto;
    border-bottom: 1px solid rgb(192, 191, 191);
}

.form__usuario:focus , .form__password:focus{

    border-color: #2A7AE4;
    }

.form__errores{

    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    text-align: start;

}
.form__error{
    color:red;
    flex-basis: 100%;
}