.modal {
    width: 65%;
    display: flex;
    flex-flow: column wrap;
    gap:2rem;;
    max-width: 1920px;
    margin: 1rem auto;
}

.modal__titulo{
    font-size: 2rem;
    font-weight: 700;
    color: #585454;
}

.modal__formConjunto{
    display: flex;
    flex-direction: column;
}

.modal__label {
    color:#A2A2A2;
    font-size: 1rem;
}

.modal__input {
    
    outline: none;
    font-size: 1.5rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    border:none;
    border-bottom: 1px solid #A4A4A4 ;
}

.modal__input:focus {

    border-color:#2A7AE4
}

.modal__agregarP{

    background-color: #2A7AE4;
    color: #ffffff;
    padding: 1rem;
    margin-right: auto;
    cursor: pointer;
}

.modal__agregarP:hover{

background-color: #2D435E;
transition: 1s;

}



.modal__tituloconjunto {

    display: flex;
    align-items: center;
}

.fa-xmark {
    
    color:#A2A2A2;
    margin-left: auto;
    background-color: #ffffff;
}

.modal__error {
    color: red;
}


.modal__fpreview{
    display: flex;
    
    justify-content: space-evenly;
}



.modal__filePreview{
    
    align-self: center;
    background-color: #A2A2A2;
    max-width:300px;
    max-height:300px;
}



.modal__contenedorImg{

    display: flex;
    align-items: center;
    justify-content: center;
    gap:1rem;
    flex-direction: column;
    
}

.ancla {
    padding: 0.5rem 0;
}

.anclaBoton {
    display: block;
    padding: 0.5rem 0;
    visibility: hidden;
}

#tituloSeccionAncla {

    margin:0;
}

.modal__file::-webkit-file-upload-button {
  visibility: hidden;
}

.modal__file::before {
  content: 'Seleccionar imagen';
  display: inline-block;
  background: linear-gradient(top, #f9f9f9, #e3e3e3);
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
}
.modal__file:hover::before {
  border-color: #2A7AE4;
  transition: 1;
}


@media (max-width: 450px) {

   .modal{
       width: 90%;
   }
    
  .anclaBoton{
    padding: 1.3rem 0;
  }
}






