.producto{
    width: 65%;
    margin: 2rem auto;
    display: flex;
    align-items: flex-start;

    flex-flow: row;
    gap:1rem;;
    max-width: 1920px;
}

.producto__imagen{

    height: 20rem;
    
}

.producto__titulo {
    font-weight: 700;
    font-size: 4rem;
    margin-bottom: 1rem;
}

.producto__precio {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
    
}

.producto__precio::before{
    content: "$ ";
}

.producto__descripcion{
    overflow-wrap: break-word;
    font-size: 1.5rem;
    line-height: 2.5rem;
}

.productoSimilares__titulo{

    font-size: 2.5rem;
    font-weight: 700;
    flex-basis: 100%;
}
