.producto{
    width: 65%;
    margin: 8rem auto 1rem auto;
    display: flex;
    align-items: center;
    flex-flow: row;
    gap:1rem;;
    max-width: 1920px;
}

.producto__imagen{

    height: 25rem;
    
}

.producto__descripcion{
    overflow-wrap: break-word;
    font-size: 2rem;
}